/* .navbar {

}
.navbar-expand {

} */
/* 
    e8d1c5
    eddcd2
    fff1e6
    f0efeb
    eeddd3
    edede8  

    432818
    99582a

    a8dadc
*/
body{
    /* background-color:#f6f5f2; */
    background-color: #f1faee;
}

.btn-bar {
    display:flex;
    justify-content: right;
    width:100%;
}
.btn-bar button {
    /* margin-top:1%; */
    margin-bottom:1%;
    margin-right:5%;
    width:8em;
}
.btn-container {
    display:flex;
}

.btn-primary {
    background-color: #457b9d;
    border-color: #f1faee;
    margin-right:6%;
    width: 6em;
}

.btn-primary:focus {
    background-color:#4989b1;
    border-color: white;
}

.btn-primary:hover {
    background-color:#4989b1;
    border-color: white;

}

.btn-outline-success {
    color: #f1faee;
    border-color: #f1faee;
}


.card {
    background-color: #f1faee;
    max-width: 28%;
    margin:1%;
}

.card img {
    background-color: #1d3557;
    color:#f1faee;
    padding:3%;
    object-fit:cover;
    height:5em;
    width:100%;
}

.close {
    font-size:2em;
    border-style:none;
    background-color:white;

}

.form-control {
    border-color: #457b9d;
}

nav {
    background-color: #1d3557;
}

.navbar-collapse, a {
    color: #f1faee;
}

table {
    margin:1rem;
    margin-left: 4%;
    margin-right: 4%;
    max-width:92%;
    background-color: #f1faee;
    border-radius:5px;
    /* border: solid 1px gray; */

} 

thead {
    background-color: #457b9d;
    color: #f1faee;
}


/* First column is a smaller width */
th:first-child {
    min-width: 0.5rem;
    max-width: 0.5rem;
}